.container{
  padding-left: 10px;
  padding-right:10px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
body{
  margin: 0;
  background-image: url(BoisNoir.jpg);
}
h1{
  font-family: 'Fredoka One', cursive;
  font-size: 30px;
  color :#000951;
  border: 2px solid black;
  border-bottom-left-radius: 15px 15px;
  border-bottom-right-radius: 150px 50px;
  background-image: linear-gradient(#343434, grey,silver,white);
  text-align: center;
}
h2 , p , a {
  font-family: 'Fredoka One', cursive;
  font-size: 26px;
  color: orange;
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
}
#Compétence1{
  height: 30px;
  border: 2px solid black;
  background-image: linear-gradient(to right,#a50000 ,#ff0000 ,#064b00 ,white 65%);
  text-align: right;
  font-size: 25px;
}
#Compétence2{
  height: 30px;
  border: 2px solid black;
  background-image: linear-gradient(to right, #a50000 , #ff0000 ,#ffffff , white 70%);
  text-align: right;
  font-size: 25px
}
#Compétence3{
  height: 30px;
  border: 2px solid black;
  background-image: linear-gradient(to right,#a50000 ,#ff0000 ,#064b00 , white 65%);
  text-align: right;
  font-size: 25px
}
#Compétence4{
  height: 30px;
  border: 2px solid black;
  background-image: linear-gradient(to right,#a50000 ,#ff0000 ,#007a25 ,white 70%);
  text-align: right;
  font-size: 25px
}
#Compétence5{
  height: 30px;
  border: 2px solid black;
  background-image: linear-gradient(to right,#a50000 , #ff0000 ,#064b00 ,#00c83d ,white 75%);
  text-align: right;
  font-size: 25px
}
#Compétence6{
  height: 30px;
  border: 2px solid black;
  background-image: linear-gradient(to right,#a50000 ,#ff0000 ,#064b00 ,white 65%);
  text-align: right;
  font-size: 25px;
}
ul{
  font-weight: bold;
  font-family: 'Fredoka One', cursive;
  background-color: silver;
  padding: 5px;
  height: auto;
  border: 2px solid black;
  font-size: 26px;
  color :#000951;
}
li{
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
  margin-left: 65px;
  font-size: 23px;
  color:  #ff5418;
}
#menu{
  font-family: 'Fredoka One', cursive;
  background-image: linear-gradient(white,silver,grey,#343434 );
  border-top-left-radius: 15px 15px;
  border-top-right-radius:15px 15px;
  border-bottom-right-radius: 15px 15px;
  text-align: center;
  margin-bottom: 0px;
}
#menu li{
  font-family: 'Fredoka One', cursive;
  display: inline;
  margin: 5px;
}
#menu a{
  display: inline-block;
  margin: 0 30px;
  padding-left: 3%;
  color:#000951;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  margin-left: 10px;
}
#menu a:hover{
  background:#000951;
  color: silver;
}
 a img{
  max-width: 75px;
  max-width: 75px;
}
#Compétence7{
  height: 30px;
  border: 2px solid black;
  background-image: linear-gradient(to right,#a50000,#064b00 , #003de0 ,white );
  text-align: right;
  font-size: 25px;
}
#Compétence8{
  height: 30px;
  border: 2px solid black;
  background-image: linear-gradient(to right,#a50000,#064b00,#00c83d,white 78%);
  text-align: right;
  font-size: 25px;
}
#Compétence9{
  height: 30px;
  border: 2px solid black;
  background-image: linear-gradient(to right, #a50000 , #ff0000 ,#ffffff , white 60%);
  text-align: right;);
  text-align: right;
  font-size: 25px;
}
.photo{
  position: absolute;
  width:200px;
  height:206px;
  margin-top: 23px;
}
.photo img{
  max-width: 200px;
  max-height: 200px;
}
li img{
  max-width: 35px;
  max-height: 35px;
}
#menu2{
  margin-top: 100%;
  font-family: 'Fredoka One', cursive;
  background-image: linear-gradient(white,silver,grey,#343434 );
  border-top-left-radius: 15px 15px;
  border-top-right-radius:15px 15px;
  border-bottom-right-radius: 15px 15px;
  text-align: center;
  margin-bottom: 0px;
}
#menu2 li{
  font-family: 'Fredoka One', cursive;
  display: inline;
  margin: 5px;
}
#menu2 a{
  display: inline-block;
  margin: 0 30px;
  padding-left: 3%;
  color:#000951;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  margin-left: 10px;
}
#menu2 a:hover{
  background:#000951;
  color: silver;
}
#ukcv h2{
  font-family: 'Fredoka One', cursive;
  font-size: 30px;
  color :#000951;
  border: 2px solid black;
  border-bottom-left-radius: 15px 15px;
  border-bottom-right-radius: 150px 50px;
  background-image: linear-gradient(#343434, grey,silver,white);
  text-align: center;
  text-decoration: none;
}
 ol{
   list-style: none
 }
h3{
    font-family: 'Fredoka One', cursive;
    color:#000951;
}
